body {
    margin: 0; /* Entfernen Sie den standardmäßigen Seitenrand */
    padding: 0; /* Entfernen Sie den standardmäßigen Innenabstand */
    background: linear-gradient(to right top, #FDF0E5, #FDF0E5, #FDF0E5);
    /* Andere Stile für das <body>-Element */
    font-family: 'Courier', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #11162F;
    width: 350px;
    height: 540px;
}

.container{
    padding : 20px;
    padding-right: 20px;
    margin: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-items: center;
    height: 85vh;
    
}

.listcontainer{
display : flex;
justify-content: center;
padding: 10px;
margin: 1%;
flex-direction: column;
}

.List{

    display: flex;
    flex-direction: column; /* Elemente in Spaltenrichtung anordnen */
    align-items: center; /* Elemente horizontal zentrieren */
    margin-bottom: 20px; /* Abstand zwischen den Listenelementen hinzufügen */

}

.Tskbtn{
    
    align-items: center;
    background: linear-gradient(#11162F, #11162F);
    color: white;
    font-size: 16px;
    outline: 50px;
    border: 1px solid ;
    border-color:#263b5eb6;
    padding:20px 60px;
    width: 80%;
    margin: 10px 20px 10px 20px ;
}

.Lstbtn{
    
    align-items: center;
    background: linear-gradient(#ffffff, #ffffff);
    color: #11162F;
    font-size: 16px;
    outline: 50px;
    border: 1px solid ;
    border-color:#11162F;
    text-align: center;
    
    padding:20px 60px;
    
    width: 80%;
    margin: 10px 15px 10px 15px ;
    
}

.Tskbtn:hover{
    background: linear-gradient(white, white);
    cursor: pointer;
    color: #11162F;
    border-color:#11162F;;
}

.Lstbtn:hover{
    background: linear-gradient(#11162F, #11162F);
    color: white;
    cursor: pointer;
    border-color:white;
    transition: background-color 2s ease;
}


.addlstbtn{
    
    align-items: center;
    background: linear-gradient(#FBD200, #FBD200);
    color: #11162F;
    font-size: 16px;
    outline: 0;
    border: 1px solid;
    border-color: #11162F;
    padding:15px 25px;
    margin: 30px 5px 20px;
    position: relative;
    transition: all .35s;
}

.addlstbtn:hover{
    color: white;
    cursor: pointer;
   
}

.addtskbtn{
    
    align-items: center;
    background: linear-gradient(#FBD200, #FBD200);
    color: #11162F;
    font-size: 16px;
    outline: 0;
    border: 1px solid;
    border-color: #11162F;
    padding:15px 25px;
    margin: 30px 5px 20px;
    position: relative;
    transition: all .35s;
}

.addtskbtn:hover{
    color: white;
    cursor: pointer;
}


.backbtn{
    
    align-items: center;
    background: linear-gradient(#FBD200, #FBD200);
    color: #11162F;
    font-size: 16px;
    outline: 0;
    border: 1px solid;
    border-color: #11162F;
    padding:15px 25px;
    margin: 30px 5px 20px;
    position: relative;
    transition: all .35s;
}

.backbtn:hover{
    color: white;
    cursor: pointer;
  }


.header-box{
    position: relative;
    width: 80%;
    max-width: 500px;
    min-height: 10px;
    background: #fff;
    color: #333;
    padding: 20px;
    margin: auto;
    outline: none;
    border: 1px solid;
    border-color: #11162F;
     
}

.content-box{
    position: relative;
    width: 80%;
    max-width: 500px;
    min-height: 120px;
    background: #fff;
    color: #333;
    padding: 20px;
    margin: auto;
    outline: none;
    border: 1px solid;
    border-color: #11162F;
     
}

h3{
    margin: 0px;
    padding: 0px;
    text-align: center;
}


h1{
    color: #11162F;
    text-align: center;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.invert {
    filter: invert(100%);
    margin-right: 20px;
    padding-left: none;
    margin-left: none;
  }

  .Listendiv{
    display: flex;
  }
  
  .actiondiv{
    display: flex;
    align-items: center;
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border: #11162F 1px solid;
  }
  .actionlistdiv{
    display: flex;
    align-items: center;
    background-color: #11162F;
    margin-top: 10px;
    margin-bottom: 10px;
    border: #11162F 1px solid;
  }


  .backbtn span{
    position: relative;
    z-index: 2;
  }


 
  
  .backbtn:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #11162F;
    transition: all .35s;
  }
  
  
  
  .backbtn:hover:after{
    width: 100%;
  }


  .addlstbtn span{
    position: relative;
    z-index: 2;
  }
   
  .addlstbtn:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #11162F;
    transition: all .35s;
  }
  
  
  
  .addlstbtn:hover:after{
    width: 100%;
  }


  .addtskbtn span{
    position: relative;
    z-index: 2;
  }
   
  .addtskbtn:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #11162F;
    transition: all .35s;
  }
  
  
  
  .addtskbtn:hover:after{
    width: 100%;
  }

  .fertig {
    text-decoration: line-through;
    color: gray
}

.htmlicon{
  width: 45px;
  height: 45px;
}

.header{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #DBD1C8;
  padding-top: 30px;  
  padding-bottom: 30px;
    margin: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-items: center;
    height: 10vh;
    border-bottom: #11162F 1px solid;
}


.emoticon:hover {
  cursor: pointer;
  
  
}

.emoticon{
  margin: 5px;
}